.canvas-container {
  /*cursor: cell;*/
  width: 98%;
  height: 400px;
  min-width: 320px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-container .canvas-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4%;
}

.canvas-container.bucketFill {
  cursor: url('../assets/bucket_fill_cur.png') 23 23, cell;
}

.canvas-container.paintBrush {
  cursor: url('../assets/paintbrush_cur.png') 23 23, cell;
}
.canvas-container.eraser {
  cursor: url('../assets/eraser_cur.png') 23 20, cell;
}

.canvas-container .cell {
  height: 100%;
  width: 4%; /* 1/25 cells, each is 4% of it */
  flex-shrink: 1;
  box-sizing: content-box;
  border: 1px solid black;
}
