.canvas-container {
  /*cursor: cell;*/
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.canvas-container .canvas-row {
  display: flex;
  flex-direction: row;
}

.canvas-container.bucketFill {
  cursor: url('../assets/bucket_fill_cur.png') 23 23, cell;
}

.canvas-container.paintBrush {
  cursor: url('../assets/paintbrush_cur.png') 23 23, cell;
}
.canvas-container.eraser {
  cursor: url('../assets/eraser_cur.png') 23 20, cell;
}

.canvas-container .cell {
  height: 15px;
  width: 15px;
  flex-shrink: 1;
  border: 1px solid black;
}
