.tools-container {
  display: inline-block;
  vertical-align: middle;
}

.tools-container .selected {
  filter: invert(100%);
}

.tool {
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  box-sizing: content-box;
  margin-right: 5px;
  cursor: pointer;
}

.tool img {
  height: 100%;
  width: auto;
}
