.canvas-container {
  cursor: cell;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.canvas-container .canvas-row {
  display: flex;
  flex-direction: row;
}

.canvas-container .cell {
  height: 15px;
  width: 15px;
  flex-shrink: 1;
  border: 1px solid black;
}
